body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.url-input > .input > input {
    font-family: Monaco,Consolas,Andale Mono,Lucida Console,PT Mono,Courier New,monospace !important;
}

.url-input {
    width: 500px;
    padding-top: 5px;
    padding-bottom: 15px;
}

.breakable {
    word-break: break-all;
}

.preview-container {
    margin: 1% auto;
    font-size: 160%;
    text-align: center;
    max-width: 100vw;
    font-weight: 400;
    font-family: Monaco,Consolas,Andale Mono,Lucida Console,PT Mono,Courier New,monospace;
}

.selected-container {
    margin: 0 !important;
}

.conversion-descriptor {
    padding: 5px;
    margin: 5px;
    color: cornflowerblue;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.right-action {
    border-top-left-radius: 0!important;
    border-bottom-left-radius: 0!important;
    border-left-width: 0!important;
}

.right-action-wrapper {
    display: inline-flex;
}

.left-input {
    border-top-right-radius: 0!important;
    border-bottom-right-radius: 0!important;
    border-right-color: transparent!important;
}

.full-height-dropdown .menu {
    max-height: 100vh !important;
}

.error-popup {
    background-color: #fff6f6 !important;
    color: #9f3a38 !important;
}

.error-popup:before {
    background-color: #fff6f6 !important;
}

.action-cell {
    padding: 5px !important;
    white-space: nowrap !important;
}

.source-action-button {
    margin: 5px !important;
    display: inline-block !important;
}

.peek-element {
    cursor: pointer;
    display: inline-block !important;
}

.peek-element-disabled {
    text-decoration: line-through;
}

.peek-element-unselected {
    background-color: lightblue;
}

.peek-element-unselected:hover {
    background-color: aqua;
}

.peek-element-selected {
    background-color: greenyellow;
}

.peek-element-selected:hover {
    background-color: palevioletred;
}

.peek-list-element-over {
    background-color: palevioletred !important;
}

.peek-list-header {
    margin: 0 !important;
}

.peek-list-element {
    cursor: pointer;
}

.peek-list-element-wrapper {
    text-align: left;
    font-size: 150%;
}

.peek-list {
    display: inline-block;
}

.ui.segment {
    background-color: rgb(253, 253, 253);
}

code{
    background-color: #EBECE4;
    padding-left: 5px;
    padding-right: 5px;
}

.container {
    padding: 1em;
    max-width: 1500px;
    overflow: auto;
}

.datasource-select {
    max-width: 600px;
    float: left;
    width: 100%;
    padding: 2em;
    margin-right: 4em;
    -webkit-user-select: none;
}

.range-select {
    max-width: 200px;
    float: left;
    width: 100%;
    padding: 2em;
    margin-right: 1em;
    -webkit-user-select: none;
}

.element-limit-select {
    max-width: 250px;
    float: left;
    width: 100%;
    padding: 2em;
    margin-right: 2em;
    -webkit-user-select: none;
}

.element-limit {
    padding-top: 1em !important;
}

.element-limit-auto {
    margin-top: 0.75em;
}

.element-limit-input {
    flex: 1;
}

.range-dropdown > .menu {
    max-height: 25em !important;
}

.info-text {
    color: red;
    padding-top: 4.5em;
    float: left;
}

.admin-launcher {
    float: right;
    padding-top: 4em;
}

.helpable-text {
    text-decoration:underline;
    text-decoration-style: dashed;
    text-underline-position: under;
    text-decoration-skip-ink: none;
    text-decoration-color: teal;
}

#data-chart {
    position: relative;
}

#cursor {
    position: absolute;
}